/* frontend/src/components/DeleteReviewModal/DeleteReviewModal.css */

.daily_btn_font_size_grid{
    display: flex;
    /* width: 500px; */
    width: 100%;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}

.daily_btn_font_size_grid button {
    height: 76px;
    width: 76px;
}

.daily_btn_font_size{
    font-size: 30px;
    background-color: lightgray;
}

.dayLogPage_modal {
    background: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    border: solid 4px black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 24rem;
    z-index: 10000;
}