/* WeightCard.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    /* border: 2px red solid; */
    /* background-color: blueviolet; */
}
body {
    background: lightgray;
}

.weight_card_hFlex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    border: 2px black solid;
    max-width: 1100px;
}