/* weightcard.css */


.weight_card_grid{
    display: grid;
    padding: 5px;
    border: 2px black solid;
    max-width: 500px;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
}

.weight_card_grid > :first-child {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.weight_card_div {
    display: grid;
    justify-items: center; 
    align-items: center;   
}