
/* CustomCalendar.css */

  
  .react-calendar {
    border: 2px solid black; 
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2); 
}

  .react-calendar__tile--now {
    background-color: #ffeb3b; /* Highlight today's date */
    color: black;
    border-radius: 50%;
  }
  
  .react-calendar__tile--active {
    background-color: limegreen; /* Active date color */
    color: white;
    border-radius: 50%;
  }
  
  .highlighted-date {
    background-color: rgba(0, 132, 255, 0.667); /* Specific dates you want to highlight */
    color: white;
    border-radius: 50%;
  }
  
  /* weekend colors */
  .react-calendar__month-view__days__day--weekend {
    color: red;
  }
  
  .calenar_div {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  