/* SignUpForm.css */

.signup_hGrid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 2rem 3rem;
    border-radius: 3rem;
}

.signup_hGrid > * {
    display: grid;
    align-items: center
}

.signup_hGrid > :nth-child(2), 
.signup_hGrid > :nth-child(3),
.signup_hGrid > :nth-child(4),
.signup_hGrid > :nth-child(5){
    grid-template-columns: 1fr 3fr;
    gap: 1rem
}


.signup_hGrid label {text-align: right}
.signup_hGrid button {
    width: 75%;
    margin: auto;
}


