/* Event Styling */
.rbc-event {
  position: relative;
  z-index: 3; /* Ensure events are displayed above other elements */
}

.rbc-event-content {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.rbc-day-view .rbc-event-content {
  font-weight: bold;
  font-size: 1rem;
}

.rbc-allday-cell {
  display: none;
}

/* Time Slot and Grid Line */
/* .rbc-time-slot { */
  /* border-top: none;  */
  /* box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.1); Optional faint line effect */
/* } */

/* Customize individual event appearance */
/* .rbc-time-slot .rbc-event { */
  /* background-color: #3174ad; */
  /* opacity: 0.9; */
  /* color: white; */
  /* font-size: 0.8rem; */
/* } */

/* Calendar Layout Adjustments */

/* Remove extra padding and margin at the top of the calendar */
/* .rbc-time-view {
  padding-top: 0 !important;
  margin-top: 0 !important;
} */

/* Time Header Styling - Remove padding, margin, and borders */
/* .rbc-time-header {
  padding-top: 0 !important;
  margin-top: 0 !important;
  border-top: none !important;
} */

/* Hide the header cell above the first time slot */


