/* grubPage.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    /* border: 2px red solid; */
    /* background-color: blueviolet; */
}

body {
    background: lightpink;
}

.grub_page_grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 5px;
    border: 2px black solid;
    max-width: 1100px;
    background-color: orange;
    gap: 2rem;

    /* min-height: 400px; */
    /* grid-auto-rows: minmax(40px, auto); setting min & maximum heights */
    /* grid-auto-rows: 40px; */

    row-gap: 1rem;
    column-gap: 1rem;
}


.grubPage_createBtn{
    display: block;
    background-color: gray;
    color: white;
    border: none;
    cursor: pointer;
    margin: 10px;
    width: 5rem;
    height: 2rem;
    border-radius: 5px;
}