/* grubPageForm.css */


.grub_page_form_grid select, 
.grub_page_form_grid input {
    width: 8rem;
    text-align: center;
}

.grub_page_form_grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 5px;
    max-width: 1100px;
    gap: 2rem;
    margin: auto;
    margin-top: 30px;

}

.grub_page_form_grid > :nth-child(1),
.grub_page_form_grid > :nth-child(3),
.grub_page_form_grid > :nth-child(5),
.grub_page_form_grid > :nth-child(8),
.grub_page_form_grid > :nth-child(10){
    display: grid;
    align-items: center;
    justify-content: right;
    height: 3rem;
}

.grub_page_form_grid > :nth-child(3){
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 1rem;
}

.grub_page_form_grid > :nth-child(4){
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1rem;
}

.grub_page_form_grid > :nth-child(7){
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0 10rem;
}

.grubVflex{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


.grub_page_btn_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0 5px;
    border: 2px black solid;
    max-width: 1100px;
    gap: 2rem;
}

.grub_page_btn {
    display: block;
    color: white;
    border: none;
    cursor: pointer;
    margin: 50px auto;
    width: 10rem;
    height: 3rem;
    border-radius: 5px;
}

.back_btn{
    display: block;
    background-color: gray;
    color: white;
    border: none;
    cursor: pointer;
    margin: 10px;
    width: 5rem;
    height: 2rem;
    border-radius: 5px;
}

.grubPageForm_hFlex {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}
