.line_graph_size {
    max-width: 700px; 
    min-width: 400px; 
    height: 500px; 
    margin: 0 auto; 
    padding: 20px; 
    background-color: pink;
}

.chart_container {
    max-width: 750px;
    min-width: 350px;
    height: 300px;
    position: relative;
    margin: auto;
}

/* mandatory */
canvas {
    width: 100% !important;        
    height: 100% !important;
}