/* frontend/src/components/WeightPageForm/weightPageForm.css */

.weight_page_form_grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 5px;
    max-width: 1100px;
    min-width: 600px;
    gap: 1rem;
    margin: 15px 30px;
}

.weight_page_form_grid > * {
    display: grid;
    align-items: center;
}

.weight_page_form_grid > :nth-child(odd){
    justify-content: right;
}

.weight_page_btn_grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 5px;
    max-width: 1100px;
    gap: 2rem;
}

.weight_page_form_grid > input._input{width: 15rem}

.weightPageForm_hFlex {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    gap: 2rem
}

.weight_page_form_grid select, 
.weight_page_form_grid input {
    width: 8rem;
    text-align: center;
}

.weight_page_form_grid input[type="checkbox"] {
    justify-self: left;  
    align-self: center;  
    margin-left: 10px;   
    width: 1rem;
}

.weight_page_form_grid input[type="date"] {
    display: flex;
    align-self: center;
    text-align: center;  
}
