/* grubcard.css */


.grub_card_grid{
    display: grid;
    padding: 5px;
    max-width: 1100px;
    border: 2px black solid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.604);
    padding: 1rem;
}

/* .grub_card_flex {
    display: flex;
    justify-content: space-between;
} */

.grub_card_grid > :first-child {
    display: grid;
    font-size: 1.5rem;
    /* background-color: yellow; */
    font-weight: 600;
    line-height: 1.5rem; 
    /* guarantee height for 2 line text */
    min-height: calc(1.5rem * 2);
}

.grub_card_grid > :nth-child(2){
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: calc(1.5rem * 2);
    /* background-color: aqua; */
}

.grub_card_grid > :nth-child(3){
    display: grid;
    justify-content: center;
    /* background-color: orange; */
}
