/* TODO: Add sitewide styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    /* border: 2px red solid; */
    background-color: white;
}

body {
    margin-bottom: 100px;
    max-width: 1200px;
    margin: auto;
}

.modal_css {
    text-align: center;
    background-color: white;
    border-radius: 25px;
    padding: 2rem;
}

button {
    border-radius: 10px;
    height: 3rem;
    min-width: 6rem;
    color: white;
    cursor: pointer;
}

.max_HFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}


select, input, label {height: 2rem}
input {padding-left: 1rem}

.clickable {cursor: pointer}
.errorMessage {color: red}
.hidden {display: none}
button:active {filter: brightness(1.33)}
.center {text-align: center}
.shadow { box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.604)}

.blue {background-color: rgba(0, 115, 255, 0.665)}
.green {background-color: green}
.bluegreen {background-color: rgba(0, 247, 255, 0.665)}
.ltcoral {background-color: lightcoral}
.ltskyblue {background-color: lightskyblue}
.orange {background-color: orange}
.pink {background-color: pink}



/* #root {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 30px;
  } */

  /* body {
    background-color: white;
  } */

