/* frontend/src/index.css */
/* sitewide styles */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Deca:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Deca:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&family=Oswald:wght@200..700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* .max_HFlex { */
    /* background: yellow !important; */
/* } */

.calender_div {
    /* background: orange !important;  */
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.dp_header{
    /* background-color: palevioletred !important; */
    background-color: rgba(32, 41, 76, 0.286) !important;
    width: 100%;
    height: 75px;
}

.dp_grid{
    /* background-color: darkcyan !important; */
    width: 100%;
}

.dpgh_content {
    /* background-color: blueviolet !important; */
    width: 100%;
    display: flex;
    justify-content: left;
}





:root {
    --max-page-width: 1200
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 2px red solid; */
}

.modal_css {
    text-align: center;
    background-color: white;
    border-radius: 25px;
    padding: 2rem;
}

button:disabled {
    cursor: not-allowed; 
}
  
  /* Custom disabled class */
.disabled_button {
    opacity: 0.6; 
    pointer-events: none; 
    transition: opacity 0.3s ease;
}

._input, ._textarea {
    padding: 1rem;
    border-radius: 8px;
    width: 325px; 
}

._textarea {
    height: 125px;
    resize: none; 
}


._button:active .back_btn:active{filter: brightness(1.33)}

._select, ._input, ._label {height: 2rem}
input {padding-left: 1rem}

select._input {
    padding: 0.5rem; /* Or adjust as needed */
}

.max_HFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.mainBodyStyle {
    background-color: rgba(252, 253, 250);
    padding: 25px;
    height: 100vw;
    max-width: 1200px;
    margin: auto;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.clickable {cursor: pointer}
.errorMessage {color: red}
.hidden {display: none}
.center {text-align: center}
.shadow { box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.604)}
.twenty_margin {margin: 20px}
.twenty_padding {padding: 20px}



.black_font {color: black !important}
.red_font {color: red !important}
.white_font {color: white !important}

.blue {background-color: rgba(0, 115, 255, 0.665)}
.bluegreen {background-color: rgba(0, 247, 255, 0.665)}
.black {background-color: black}
.green {background-color: green}
.ltcoral {background-color: lightcoral}
.ltskyblue {background-color: lightskyblue}
.ltltskyblue {background-color: rgba(135, 206, 250, 0.586)}
.ltYellow {background-color: lightyellow}
.orange {background-color: orange}
.white  {background-color: white;}

.navBlue {background-color: rgb(33, 45, 87)}
.pink {background-color: pink}
.dkPink {background-color: rgb(210, 144, 155)}
.red {background-color: red}
.yellow {background-color: yellow}


  .modal_under_layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal_window_all {
    background: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    border: solid 4px black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 24rem;
}

.delete_btn {
    display: block;
    background-color: red;
    color: white;
    border: none;
    margin-right: 10px;
    cursor: pointer;
    margin: auto;
    width: 100%;
    border-radius: 5px;
    height: 3rem;
}

.cancel_btn {
    display: block;
    background-color: gray;
    color: white;
    border: none;
    cursor: pointer;
    margin: auto;
    width: 100%;
    height: 3rem;
    border-radius: 5px;
}

.page_btn{
    display: block;
    background-color: gray;
    color: white;
    border: none;
    cursor: pointer;
    margin: 10px;
    width: 5rem;
    height: 2rem;
    border-radius: 5px;
}

.round{
    border-radius: 50%;
}



._button {
    border-radius: 10px;
    height: 3rem;
    min-width: 7rem;
    cursor: pointer;
    color: white;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.604);
    font-family: "Noto+Sans", Arial, Helvetica, sans-serif;
    font-weight: 900;
}

.back_btn{
    border-radius: 10px;
    height: 3rem;
    min-width: 3rem;
    cursor: pointer;
    color: white;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.604);
    font-family: "Noto+Sans", Arial, Helvetica, sans-serif;
    font-weight: 900;
}

.vertical_center_flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.block {
    display: block;
}
