

.dayLogPage_div {
    margin: 3rem auto;
    width: 50rem;
}

.dp_header{
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    height: 100px;
    padding: 0 2rem;
    background-color: lightgreen;
}

.dph_btn {
    height: 50px;
    width:  50px;
    font-size: 25px;
    border: none;
    background-color: transparent;
}

.dph_btn:active {filter: brightness(1.33)}


.dp_grid {
    display: grid;
    grid-template-columns: 1fr;
    margin: 3rem auto;
    gap: 2rem;
}

.dp_grid > * {
    display: grid;
    grid-template-columns: 4rem 1fr;
    height: 3rem;
    align-items: center;
    justify-content: center
}

.dp_grid > :nth-child(odd) {background-color: aqua}
.dp_grid > :nth-child(even) {background-color: bisque}

.dpg_hour {font-size: larger}
.dpgh_label {font-weight: 600}

.calendarStuff {
    width: 50%;
    height: 50%;
    background-color: yellow;
    color: purple;
    margin: auto;
    margin-top: 2rem;
    padding: 1rem;
}
