/* frontend/src/components/DayLogPage/DayLogPage.css */

/* .dp_header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 0 2rem;
    background-color: lightgreen;
}

.dph_btn {
    height: 50px;
    width:  50px;
    font-size: 25px;
    background-color: transparent;
    border: 2px solid black;
}

.dph_btn:active {filter: brightness(1.33)}

.dp_grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2px;
} */

/* .dp_grid > * {
    display: grid;
    grid-template-columns: 4rem 1fr;
    height: 3rem;
    align-items: center;
    justify-content: center
} */

/* .dp_grid > :nth-child(odd) {background-color: white} */
/* .dp_grid > :nth-child(even) {background-color: rgba(32, 41, 76, 0.138) } */

/* .dpg_hour {
    font-size: larger;
    height: 4rem;
}
.dpgh_label {font-weight: 600}

.circle_buttons_h_flex{
    display: flex;
    gap: 2rem;
}

.circle_buttons_h_flex button {
    height: 60px;  
    width: 60px;   
}

.totals-section-horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    visibility: hidden;
    padding: 1rem;
}

.totals-section-horizontal.visible {
    visibility: visible
} */

div.rbc-calendar {
    height: 1000px;
}