

.updateBtn {
    display: block;
    background-color: red;
    color: white;
    border: none;
    margin-right: 10px;
    cursor: pointer;
    margin: auto;
    width: 100%;
    border-radius: calc(width / 2);
    height: 3rem;
}

.update_modalContent_btns{
    display: flex;
    justify-content: space-betweend;
    align-items: center;
    height: auto
}

.updateDaily_Modal_body{
    height: 500px;
    width: 500px;
}