/* frontend/src/components/DeleteWeightModal/DeleteWeightModal.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    /* border: 2px red solid; */
    /* background-color: blueviolet; */
}

.confirmDeleteModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.modalContent {
    background: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    border: solid 4px black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 24rem;
}


.splashButton {
    display: block;
    background-color: red;
    color: white;
    border: black solid 2px;
    margin-right: 10px;
    cursor: pointer;
    /* margin: auto; */
    margin-left: 20px;
    width: 100%;
    border-radius: 5px;
    height: 3rem;
    width: 20rem;

    /* min-height: 400px; */
    /* grid-auto-rows: minmax(20px, auto);*/ /* setting min & maximum heights */
    /* row-gap: 1rem;
    column-gap: 1rem;  */
}

.blue {background-color: rgba(0, 115, 255, 0.665)}
.green {background-color: rgba(0, 247, 255, 0.665)}
.orange {background-color: rgba(255, 191, 0, 0.665)}