body {
    background: lightpink;
}

.workout_card_hFlex{
    display: flex;
    flex-direction: column;
    gap: 3px;
    justify-content: space-between;
    padding: 10px;
    border: 2px black solid;
    max-width: 1100px;
}