/* frontend/src/components/Navigation/Navigation.css */
.profile_anchor{
    /* holds the arrow and the menu underneath */
    position: relative;
}

.profile-dropdown {
    position: absolute;
    top: 5rem;
    right: 0;
}

.logo {
    max-height: 100px;
    width: auto;
}

.fas {
    height: auto;
    width: auto;
    font-size: 1.5rem;
}

.profile_dropdown_grid{
    display: grid;
    grid-template-columns: 1fr 8rem;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.profile_dropdown_grid > button {
    width: 75%;
}

.nav_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 95px;
    margin: auto;
    padding: 4rem 2.5rem;
    max-width: var(--max-page-width);
}

.openModalBtn {
    padding: 4px 20px;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
}

body.light-mode .openModalBtn {
    background-color: whitesmoke;
    color: black;
    border: 1px solid black;
}

body.dark-mode .openModalBtn {
    background-color: black;
    color: whitesmoke;
    border: 1px solid whitesmoke;
}

body.light-mode .openModalBtn:hover {
    background-color: lightgray;
    color: black;
    border: 1px solid black;
}

body.dark-mode .openModalBtn:hover {
    background-color: darkgray;
    color: whitesmoke;
    border: 1px solid whitesmoke;
}



.popupDiv {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 2000;
    background-color: rgb(30, 24, 35);
    font-size: larger;
}

.navigation_right{
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 1.25rem;
    background-color: transparent;
}

.p_profileImg {
    background-color: transparent;
}

.container-width {
    max-width: 1200px;
    min-width: 600px;
    margin: auto;
}

.profile_btn{
    color: black;
    background-color: whitesmoke;
    margin: 0;
    border-radius: 10px;
    height: 3rem;
    min-width: 6rem;
    cursor: pointer;
    align-items: center;
    text-align: center;
}


.arrow {
    position: absolute;
    top: 50%; 
    left: -3.0rem; 
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    gap: 0.3rem; 
}

/* horizontal of keyframe-arrow */
.arrow::before {
    content: ''; 
    width: 20px; 
    height: 6px; 
    background-color: red; 
}

/* arrowhead of keyframe-arrow */
.arrow::after {
    content: '';
    width: 0;
    height: 0;
    border-top: 10px solid transparent; 
    border-bottom: 10px solid transparent;
    border-left: 15px solid red;
    /* border-radius: 50%; */
}


.arrow {
    animation: float-left 1.5s infinite ease-in-out;
}

/* Keyframes for the floating effect */
@keyframes float-left {
    0%, 100% {
        transform: translateY(-50%) translateX(0); 
    }
    50% {
        transform: translateY(-50%) translateX(-5px);
    }
}

.logo_size{
    width: 200px;
    height: auto;
}