.profile_anchor{
    position: re;
}

.profile-dropdown {
    position: absolute;
    right: 100px;
    top: 250px;
}

.profile_btn{
    margin: 0;
    box-shadow: none;
    border-radius: 10px;
    height: 2rem;
    padding: 0 2rem;
}

.profile_dropdown_grid{
    display: grid;
    grid-template-columns: 1fr 8rem;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.profile_dropdown_grid > :first-child{
    display: grid;
    border: 1px dashed black;
    padding: 0 0.5rem;
    border-radius: 1rem;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.profile_dropdown_grid > button {
    width: 75%;
}

.h-grid{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 10px;
}

.ltYellow {
    background-color: lightyellow;
}

.yellow {
    background-color: yellow;
}

.profile-dropdown {
    position: absolute;
    right: 4rem;
    top: 4rem;
}

.popupDiv {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}