/* LoginFormModal.css */



.login_hGrid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 2rem 3rem;
    border-radius: 10rem;
}

.login_hGrid > * {
    display: grid;
    align-items: center;
    justify-content: center;
}

.login_hGrid > :nth-child(2), 
.login_hGrid > :nth-child(3) {
    grid-template-columns: 1fr 3fr;
}

.login_hGrid label {text-align: right}

.login_hGrid button {
    width: 75%;
    margin: auto;
}